{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/plants/plant-detail.css' %}"
/>
<script defer src="{% static 'js/plant-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="plant-container">
  <div class="plant-img">
    <img 
      src="{% static 'images/plant5.jpg' %}" 
      alt="A plant"
    >
  </div>

  <div class="plant-details">
    <h1>{{ plant.name }}</h1>
    {% if plant.alive %}
      <p>🌷 {{ plant.type }} that needs {{ plant.get_water_needs_display }} watering and {{ plant.get_sun_needs_display }} sunlight</p>
    {% else %}
      <p>🥀 {{ plant.type }} that needed {{ plant.get_water_needs_display }} watering and {{ plant.get_sun_needs_display }} sunlight</p>
    {% endif %}

    <div class="plant-actions">
      <a href="{% url 'plant-update' plant.id %}" class="btn warn">Edit</a>
      <a href="{% url 'plant-delete' plant.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="watering-soil-container">
  <section class="watering">

    <div class="subsection-title">
      <h2>Waterings</h2>
      <img 
        src="{% static 'images/plant3.jpg' %}" 
        alt="A plant"
      />
      <img 
        src="{% static 'images/plant4.jpg' %}"
        alt="A plant"
      />
      <img 
        src="{% static 'images/plant2.jpg' %}" 
        alt="A plant"
      />
    </div>

    <h3>Add a Watering</h3>
    <form
      action={% url 'add-watering' plant.id %}
      method="post" 
      class="subsection-content"
      autocomplete="off"
    >
      {% if plant.watered_today %}
        <p class="watered">{{plant.name}} has already been watered today!</p>
      {% else %}
        <p class="unwatered">{{plant.name}} might be thirsty!</p>
      {% endif %}

      {% csrf_token %}
      {{ watering_form.as_p }}
      <button type="submit" class="btn submit">Add Date</button>
    </form>

    <h3>Past Waterings</h3>
    {% if plant.watering_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th></tr>
        </thead>
        <tbody>
          {% for watering in plant.watering_set.all %}
          <tr>
            <td>{{watering.date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>{{plant.name}} has never been watered 😥</p>
      </div>
    {% endif %}

  </section>

  <section class="soils">
    <div class="subsection-title">
      <h2>Soil</h2>
      <img src="{% static 'images/plant2.jpg' %}" alt="A plant" />
      <img src="{% static 'images/plant3.jpg' %}" alt="A plant" />
      <img src="{% static 'images/plant4.jpg' %}" alt="A plant" />
    </div>
    <h3>{{ plant.name }}'s Soil</h3>
    <div class="subsection-content">
      {% if plant.soils.count %}
        {% for soil in plant.soils.all %}
          <div class="soil-container">
            <div 
              class="color-block"
              style="background-color: brown"
            ></div>
            <a href="{% url 'soil-detail' soil.id %}">
              <p> {{ soil.mixture }} mixture ({{ soil.get_type_display }} soil)</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-soils">{{plant.name}} needs the good stuff! </p>
      {% endif %}
    </div>

    <h3>Available Soil Mixtures</h3>
    <div class="subsection-content">
      {% if soils.count %}
        {% for soil in soils.all %}
          <div class="soil-container">
            <div 
              class="color-block"
              style="background-color: brown"
            ></div>
            <a href="{% url 'soil-detail' soil.id %}">
              <p>{{ soil.mixture }} mixture ({{ soil.get_type_display }} soil)</p>
            </a>
            <form action="{% url 'assoc-soil' plant.id soil.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add soil</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-soils">
          {{plant.name}} has all the available soil mixtures 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}