{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/plants/plant-detail.css' %}"
/>
<script defer src="{% static 'js/plant-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="plant-container">
  <div class="plant-img">
    <img 
      src="{% static 'images/plant5.jpg' %}" 
      alt="A plant"
    >
  </div>

  <div class="plant-details">
    <h1>{{ plant.name }}</h1>
    {% if plant.alive %}
      <p>An alive {{ plant.type }} that has {{ plant.water_needs }} water needs and {{ plant.sun_needs }} sun needs</p>
    {% else %}
      <p>A dead {{ plant.type }} that had {{ plant.water_needs }} water needs and {{ plant.sun_needs }} sun needs</p>
    {% endif %}

    <div class="plant-actions">
      <a href="{% url 'plant-update' plant.id %}" class="btn warn">Edit</a>
      <a href="{% url 'plant-delete' plant.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="watering-toy-container">
  <section class="watering">

    <div class="subsection-title">
      <h2>Watering</h2>
      <img 
        src="{% static 'images/plant3.jpg' %}" 
        alt="A plant"
      />
      <img 
        src="{% static 'images/plant4.jpg' %}"
        alt="A plant"
      />
      <img 
        src="{% static 'images/plant2.jpg' %}" 
        alt="A plant"
      />
    </div>

    <h3>Add a Watering</h3>
    <form
      action={% url 'add-watering' plant.id %}
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ watering_form.as_p }}
      <button type="submit" class="btn submit">Add Watering</button>
    </form>

    <h3>Past Waterings</h3>
    {% if plant.watering_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th></tr>
        </thead>
        <tbody>
          {% for watering in plant.watering_set.all %}
          <tr>
            <td>{{watering.date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>{{plant.name}} has never been watered 😥</p>
      </div>
    {% endif %}

  </section>
</div>

{% endblock %}