{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/plants/plant-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Plant List</h1>
  <img src="{% static 'images/plants_4.png' %}" alt="Four different house plants" />
</section>

<section class="card-container">
  {% for plant in plants %}
    <div class="card">
      <a href="{% url 'plant-detail' plant.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/plant5.jpg' %}" 
              alt="Another plant"
            >
          </div>
          <h2 class="card-title">{{ plant.name }}</h2>
          {% if plant.alive %}
            <p>🌷 {{ plant.type }} that needs {{ plant.get_water_needs_display }} watering and {{ plant.get_sun_needs_display }} sunlight</p>
          {% else %}
            <p>🥀 {{ plant.type }} that needed {{ plant.get_water_needs_display }} watering and {{ plant.get_sun_needs_display }} sunlight</p>
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}